{{> head}}

    {{> navbar }}

    <div class="row">

        <div class= "col-8">

            <h1 align="center">Juan Camilo Londoño</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sequi, ipsum laboriosam, quod in voluptas rem ipsa quae, 
                numquam repudiandae molestiae asperiores doloribus aspernatur consequatur error quas vel quaerat alias.</p>
        </div>
         <div class= "col-4">
            <img src="/assets/img/ibm.jpg" class="img-thumbnails">
        </div>
    </div>

    {{> footer }}